 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .logo{
    max-width: 100px;
 }

 .logo img{
    width: 100%;
 }

.header{
    height: 124px;
    border: 1px solid #f00;
}

.header-box{
    border: 1px solid #0f0;
    height: 100%;
    display: flex;
    align-items: center; /*вертикальный центр*/
    justify-content: space-between; /*распределение элементов по горизонтали с равными отступами между ними*/
}

.main{

}

.footer{
    height: 156px;
    border: 1px solid #f00;
}

.footer-box{
    border: 1px solid #0f0;
    height: 100%;
    display: flex;
    align-items: center; /*вертикальный центр*/
    justify-content: space-between; /*распределение элементов по горизонтали с равными отступами между ними*/
}

.footer-nav{
    flex-grow: 1; /*растягивает элемент на всю доступную ширину*/
}

.container{
    height: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

